    p {
        font-size: 42;
        color: blue;
    }

    .Item{
        color:lightpink;
        font-weight: bold;
        
    }
    #Nombre{
        color: blue;
    }
    img{
        width: 1000px;
        height: 400px;
    }
    #imagen1{
        width: 400px;
        border: 8px solid rgb(39, 1, 41);
        border-radius: 19%;
    }
   div{
    height: 200px;
    background-color: blue;
    border: 2px solid red;
    color: white;
   }
   #Contenedor1{
    width: 600px;
    height: 100px;
    border: 2px solid rgb(5, 233, 5);
    background-color: black;
    
   }